
.App{
    margin: 0;
    color: white;
    width: 100vw;
    padding: 0;
    overflow-x: 0;
    background-color: black;
    top: 0;
}
.homecont{
    position: absolute;
    left: 0;
}
video{
    width: 100vw;
    height: 100vh;
    object-fit: cover;
    filter: blur(50px);
    -webkit-filter: blur(100px);
    position: fixed;
    left: 0;
    top: 0;
}