.main-con{
    height: 100vh;
    width: 100vw;
    /* background-color: rgba(31, 31, 31,0.2); */
   background-color: transparent;
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    z-index: 10000;
    backdrop-filter: blur(4px);
    /* transition: all 1s; */
}
.content{
    
    background-color: black;
    color: white;
    /* border-radius: 20px; */
    border-radius: 15px;
    overflow: hidden;
    position: relative;
    /* display: flex; */
    height: 20%;
    width: 80%;
    /* transition: all 1s; */
}
.content p{
   padding: 10px;
}

.coh{
    display: flex;
    justify-content: center;
    /* height: 70; */
    width: 80vw;
}
.youtube{
    object-fit: cover;
}
.gg {
    height: 50px;
    height: 100vh;
    width: 100vw;
    position: fixed;
    /* left: 100px; */
    margin-top: -30px;
    /* border-radius: 50%; */
    /* width: 50px; */
    background-color: transparent;
    color: white;
    border: none;
    z-index: -1;
    /* top: 10px; */
    /* right: 12vw; */
    /* z-index: 10000000000; */

}
.gg button:hover{
    background-color: white;
    color: black;
}

@media (max-width : 800px) {
    .gg{
        right: 11vw;
    }
  
}
.tube{
    padding: 15px;
}
@media (max-width : 550px) {
    .gg{
        right: 8vw;
        height: 40px;
        width: 40px;
    }
    .content p{
        padding: 10px;
        font-size: 15px;
    }
}
@media (max-width : 450px) {
    .content p{
        font-size: 12px;
        width: 95%;
    }
    .content{
        /* display: flex; */
        justify-content: center;
        /* flex-direction: column; */
        width: 80vw;
        height: 45vh;
        /* padding: 20px; */
        overflow-y: scroll;
    }
    .gg{
        right: 2.8vw;
    }
   .tube{
       /* display: flex; */
       /* justify-content: center; */
       /* align-items: center; */
   }
}