.scroll-to-top{
    position: fixed;
    bottom: 15px;
    right: 8%;
    width: 50px;
    height: 50px;
    border-radius: 100%;
    background-color: #a7c3e3a6;
    transition: all 0.5s;
    color: white;
    z-index: 10000;
}
.scroll-to-top .icon{
    height: 40px;
    padding: 4.5px;
    /* margin-top: 1px; */
    animation: scrollTop 0.5s alternate ease infinite;
}
.scroll-to-top:hover{
    
    background-color: rgba(51,51,51,0.5);
}
@keyframes scrollTop{
    from{
        transform: translateY(2px);
    }
    to{
        transform: translateY(-1px);
    }
}